@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: "Prompt";
    background-color: rgb(246, 251, 255);
}

.app{
background-color: white;
box-shadow: rgba(0,0,0, 0.05) 0 6px 24px, rgba(0,0,0, 0.08) 0 0 0 1px;
border-radius: 10px;
padding: 7px;
width: 800px;
margin-top: 50px;

}

input {
    margin: 11px 0;
    padding: 12px 16px;
    border-radius: 7px;
    border: 1.5px solid rgb(230, 232, 236);
  }

.list-header{
width: 100%;
display: flex;
justify-content: space-between;

}

.button-container{

    display: flex ;
    align-items: center;
}

.button-container button{
    background-color: transparent;
    border-radius: 3px;
    border: .3px solid black;
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 10px;
}

/* -------------------------------------- AUTH */

.auth-container{

    display: flex;
    justify-content: center;
    margin:5px;
}

.auth-container-box{
    display: flex;
    justify-content: center;
    flex-direction: column;

    overflow: hidden;
    box-shadow: rgba(0,0,0,0.05) 0 6px 24px, rgba(0,0,0,0.08) 0 0 0 1px;

    width: 475px;
    border-radius: 1px;
}

.auth-container-box form{

    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 375px;
    padding:10px;
}

.auth-options{

    display: flex;
}

.auth-options button {

    width: 50%;
    padding: 10px;
    border: none;
    color: rgb(35,38,47);
}